/* Nav Bar */
.navbar {
  background-color: #222;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

.navbar__logo {
  width: 4vw;
  height: auto;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

.navbar__menu a:hover {
  color: #006CEC;
}

/* Video Link Paste / Upload Section */
.videoUpload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.videoUpload__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadLink {
  width: 70vw;
  height: 6.5vh;
  border: 1px solid #006CEC;
  border-radius: 5px;
  padding: 0 1vw;
  font-size: 1.5vw;
  margin-top: 60px;
}

.videoUpload__or {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.videoUpload__or h3 {
  margin: 0 1vw;
}

.videoUpload__upload {
  width: 50vw;
  /* height: 7vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
  border-width: 2px;
  border-radius: 5px;
  border-color: '#c4c4c4';
  border-style: dashed;
  background-color: #222;
  color: '#bdbdbd';
  outline: 'none';
  transition: 'border .24s ease-in-out';
  cursor: pointer;
}

.videoUpload__upload__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  height: auto;
  padding-bottom: 15px;
  margin: 0 auto;
}

.videoUpload__button {
  width: 11vw;
  height: 6.5vh;
  border: 1px solid #006CEC;
  background-color: #006CEC;
  border-radius: 5px;
  padding: 0 1vw;
  font-size: 1.2vw;
  margin-top: 60px;
  cursor: pointer;
}
